.navList {
    display: flex;
    gap: 25px;
}

.item {
    font-family: "Jua",
        sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #333;
    padding: 20px 24px;
    transition: all 0.3s ease-in-out;
}

.item:hover {
    background-color: rgba(200, 227, 20, 0.57);
    border-radius: 10px;
}