.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 65px;
    justify-items: center;
    align-items: center;
}

.containerText {
    max-width: 450px;
    margin-bottom: 20px;
}

.title {
    font-family: "Dongle",
        sans-serif;
    font-weight: 400;
    font-size: 60px;
    color: #fff;
}

.title>span {
    color: #91f543;
}


.text {
    font-family: "Jua",
        sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff9f9;
    margin-bottom: 25px;
}

.btnContainer {
    display: flex;
    gap: 50px;
}

.btn {
    /*
    max-width: 120px;
    font-family: "Jua",
        sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #ff0202;
    border-radius: 7px;
    border: none;
    padding: 8px 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);*/
    background-color: #f4ce14;
    border-radius: 16px;
    border: none;
    padding: 8px 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #28961e;
    color: #fff;
}


.imgHero {
    width: 300px;
    height: auto;
    margin-right: 0;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.50));

}