.containerHeader {
    padding: 0 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(222, 219, 219);

}

.logo {

    width: 180px;
}

.logoSpan {
    color: #91f543;
}