.footer {
    display: flex;
    justify-content: space-between;
    padding: 60px 65px;
    background-color: #495e57;
}

.logo {
    width: 180px;
    padding: 12px;
    background-color: #9ba6a2;
    border-radius: 15px;
}